hello-world-name-check-logic-app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "message",
                            "value": "Noi cartoni facciamo gli scemi, ma non siamo mica stupidi!"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@variables('name')",
                                "Roger Rabbit"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "message",
                            "type": "string",
                            "value": "Hello World Anonymous!"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_name": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_name": {
                "inputs": {
                    "variables": [
                        {
                            "name": "name",
                            "type": "string",
                            "value": "@triggerOutputs()['relativePathParameters']['name']"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": {
                        "Message": "@{variables('message')}"
                    },
                    "schema": {
                        "properties": {
                            "Message": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Condition": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "GET",
                    "relativePath": "/{name}"
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}
